{% extends "base.html" %} {% block title %}Download{% endblock %}
{% block mid %}
<div class="logon-wrapper login-wrapper">
    <form action="/login" method="post" class="logon-wrapper-form">
        <div class="login-username-wrapper logon-child-wrapper">

            <input type="text" id="login-username" class="login-input" placeholder="Username" required="" name="username">

            
        </div>
        <div class="login-password-wrapper logon-child-wrapper">
        
            <input type="text" id="login-password" class="login-input" placeholder="Password" required="" name="password">

            
        </div>
        <div class="login-child-void logon-child-wrapper"></div>
        <div class="login-submit-wrapper logon-child-wrapper">
            
                <input type="submit" value="Login" id="login-submit" class="login-input login-submit">
            
        </div>
    </form>
    <div class="login-signupoption-wrapper logon-child-wrapper">
        <form action="/signup" style="display: none;" id="signup-switch-void"></form>
        <p id="signup-alternative">or <a onclick="document.getElementById('signup-switch-void').submit()" id="signup-alternative-anchor">Sign Up</a> here</p>
    </div>
    {% if problem %}
    <div class="problem"><p>A problem occured: {{ problem }}</p></div>
    {% endif %}
</div>
{% endblock %}