{% extends "base.html" %} {% block title %}Download{% endblock %}
{% block mid %}
<div class="midhead middownload">
    <form action="/login" method="post" enctype="multipart/form-data" class="downloadform">
        <input type="text" placeholder="Email" class="logon-input" required="" name="email">
        <input type="text" placeholder="Username" class="logon-input" required="" name="username">
        <input type="text" placeholder="Password" class="logon-input" required="" name="password1">
        <input type="text" placeholder="Repeat password" class="logon-input" required="" name="password2">
        <input type="submit" value="Sign Up" class="logon-input signup-submit">
    </form>
    {% if problem %}
    <div class="problem"><p>A problem occured: {{ problem }}</p></div>
    {% endif %}
    <div class="login-signupoption-wrapper logon-child-wrapper">
        <form action="/login" style="display: none;" id="login-switch-void"></form>
        <p id="signup-alternative">Already have an account? <a onclick="document.getElementById('login-switch-void').submit()" id="signup-alternative-anchor">Click here</a></p>
    </div>
</div>
{% endblock %}