<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    
    <link rel="stylesheet"  type="text/css" href="../static/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <script src="{{url_for('static', filename='main.js')}}"></script>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>  
    <div class="page">
        <div class="header">
            <h1 id="logo">Carrycode</h1>
            <div class="headermain">
                <div class="transferfiles headerchild">
                    <form action="/" id="formpage1">
                        <p type="submit" onclick="document.getElementById('formpage1').submit()">Transfer Files</p>
                    </form>
                    
                </div>
                {% if user.is_authenticated %}
                <div class="howdoesthiswork headerchild">
                    <form action="/files" id="formpage2">
                        <p type="submit" onclick="document.getElementById('formpage2').submit()">Files</p>
                    </form>
                </div>
                {% endif %}
                
            </div>
            <div class="headerlogin">
                <div class="headerloginvoid">

                </div>
                {% if user.is_authenticated %}
                <div class="headerloginlogin headerloginchild headerchild">
                    <form action="/logout" id="loginpage1" method="get">
                        <p type="submit" onclick="document.getElementById('loginpage1').submit()">Logout</p>
                    </form>
                </div>
                {% else %}
                <div class="headerloginlogin headerloginchild headerchild">
                    <form action="/login" id="loginpage1" method="get">
                        <p type="submit" onclick="document.getElementById('loginpage1').submit()">Login</p>
                    </form>
                </div>
                <div class="headerloginsignup headerloginchild headerchild">
                    <form action="/signup" id="loginpage2" method="get">
                        <p type="submit" onclick="document.getElementById('loginpage2').submit()">Sign Up</p>
                    </form>
                </div>
                {% endif %}
                
            </div>
            

        </div>
        <div class="midmid">
            <div class="mid">
                {% block mid %}
                {% endblock %}
                
                
            </div>
        </div>
        
        
    </div>
    
    
</body> 


</html>