{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block mid %}
<div class="midhead">
    <div class="midtext">
        
        <h1>The new way to something old</h1>
        
        
        <p>File sharing is known since the beginning of the internet. But is there any effective way? Well, now there is. Introducing CarryCode. An all-inclusive, free and secure version of something we all need and love</p>
    </div>
    <div class="mainmidbtn">
        <div class="mainmidinner">
            <form action="/download">
                <button type="submit" class="mainbtn mainbtn1">Download</button>
            </form>
            <form action="/upload">
                <button type="submit" class="mainbtn">Upload</button>
            </form>
            
        </div>
        
    </div>
</div>


{% endblock %}
