{% extends "base.html" %} {% block title %}SUCCESS{% endblock %}
{% block mid %}
<div class="success-wrapper">
   <div class="success-key-wrapper">
      <p id="success-key-p">Tunnel Key: {{name}}</p>
   </div>
   <div class="success-copy-wrapper" onclick="copyURL()">
      <p id="tocopy">Copy URL</p>
      <span class="material-symbols-outlined">content_copy</span> <!-- Google Copy Icon -->
   </div>
   <p style="display: none;" id="copyText">{{ url }}</p>
</div>

<script>
   function copyURL() {
      var copyText = document.getElementById("copyText");
      navigator.clipboard.writeText(copyText.innerText);
   }
</script>

{% endblock %}