<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7795269273496992"
     crossorigin="anonymous"></script>
    <link rel="stylesheet"  type="text/css" href="../static/main.css">
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>  
    <div class="page">
        <div class="header">
            <div class="headerlogo">
                <img src="../static/imgs/Carrycode.png" alt="headerimg" id="logo">

            </div>
            <div class="headermain">
                <div class="transferfiles headerchild">
                    <form action="/" id="formpage1">
                        <p type="submit" onclick="document.getElementById('formpage1').submit()">Transfer Files</p>
                    </form>
                    
                </div>
                <div class="howdoesthiswork headerchild">
                    <form action="/page2" id="formpage2">
                        <p type="submit" onclick="document.getElementById('formpage2').submit()">How does this work?</p>
                    </form>
                </div>
                <div class="privacy headerchild">
                    <form action="/page3" id="formpage3">
                        <p type="submit" onclick="document.getElementById('formpage3').submit()">Privacy</p>
                    </form>
                </div>
                
                
            </div>
            <div class="headerlogin">
                <div class="headerloginvoid">

                </div>
                <div class="headerloginlogin headerloginchild">
                    <p>Login</p>
                </div>
                <div class="headerloginsignup headerloginchild">
                    <p>Sign Up</p>
                </div>
                
            </div>
            

        </div>
        <div class="midmid">
            <div class="mid">
                <div class="adsleft adsvertical">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7795269273496992"
                        crossorigin="anonymous"></script>
                    <!-- carrycode -->
                    <ins class="adsbygoogle"
                        style="display:inline-block;width:180px;height:600px"
                        data-ad-client="ca-pub-7795269273496992"
                        data-ad-slot="4903176656"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                {% block mid %}
                {% endblock %}
                <div class="adsright adsvertical">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7795269273496992"
                        crossorigin="anonymous"></script>
                    <!-- carrycode -->
                    <ins class="adsbygoogle"
                        style="display:inline-block;width:180px;height:600px"
                        data-ad-client="ca-pub-7795269273496992"
                        data-ad-slot="4903176656"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                </div>
                
            </div>
        </div>
        
        
    </div>
    
    
</body> 


</html>