{% extends "base.html" %} {% block title %}Download{% endblock %}
{% block mid %}
<div class="midhead middownload">
    <form action="/download" method="post" enctype="multipart/form-data" class="downloadform">
        <input type="text" name="url" placeholder="Tunnel key" class="download">
        <input type="text" name="pass" placeholder="Password" class="download">
        <input type = "submit" value="Download" class="downloadbutton">  
    </form>
    {% if problem %}
    <div class="problem"><p>A problem occured: {{ problem }}</p></div>
    {% endif %}
</div>

{% endblock %}
