{% extends "base.html" %} {% block title %}Download{% endblock %}
{% block mid %}

        
<div class="files-wrapper">
    <div class="files-title-wrapper">
        <h1>Files</h1>
    </div>
    <div class="files-list-wrapper">
        {% for file in user.files %}
        <div class="user-file-delete-wrapper">
            <div class="user-file-wrapper">
                <div class="success-copy-wrapper files-copy-wrapper" onclick="copyURL(event)">
                    <p id="tocopy">Copy URL</p>
                    <span class="material-symbols-outlined">content_copy</span> <!-- Google Copy Icon -->
                    <p style="display: none;" id="copyText">{{ file.url }}</p>
                </div>
                <div class="success-copy-wrapper files-copy-wrapper user-file-password-wrapper" onclick="copyURL(event)">
                    <p id="tocopy">Copy Password</p>
                    <span class="material-symbols-outlined">content_copy</span> <!-- Google Copy Icon -->
                    <p style="display: none;" id="copyText">{{ file.passkey }}</p>
                </div>
                <div class="success-copy-wrapper files-copy-wrapper user-file-key-wrapper" onclick="copyURL(event)">
                    <p id="tocopy">Copy Tunnelkey</p>
                    <span class="material-symbols-outlined">content_copy</span> <!-- Google Copy Icon -->
                    <p style="display: none;" id="copyText">{{ file.key }}</p>
                </div>
                <div class="user-file-date-wrapper">
                    {{ file.date }}
                </div>
                
            </div>
            <div class="file-remove-wrapper">
                <span class="material-symbols-outlined">delete</span>
            </div>
        </div>
        
        
        {% endfor %}
    </div>
</div>

    

{% endblock %}