{% extends "base.html" %} {% block title %}Download{% endblock %}
{% block mid %}
<div class="midhead">
    <div class="midtext">
        <h1>Work in progress!</h1>
    </div>
    
    <!--    WORK IN PROGRESS
    <div class="midtext">
        <h1>Download Anonymously</h1>

        <p>Is a website blocked? Get a download link and download the file trough this website!</p>
    </div>
    <div class="mainmidbtn">
        <div class="mainmidinner">
            <form action="/downloadanonym" method="post" enctype="multipart/form-data" class="downloadform">
                <input type="text" name="url" placeholder="URL to Download" class="download downloadnonym">
                <input type="text" name="name" placeholder="Filename" class="download downloadnonym">

                <input type = "submit" value="Download" class="downloadbutton downloadnonym downloadnonymsubmit">  
            </form>
        </div>
    </div>
    -->
</div>
{% endblock %}