* {
    padding: 0;
    margin: 0;
}

@font-face { font-family: PoppinsMedium; src: url('../static/fonts/Poppins/Poppins-Medium.ttf'); }
@font-face { font-family: PoppinsRegular; src: url('../static/fonts/Poppins/Poppins-Regular.ttf'); }

@font-face { font-family: SatoshiMedium; src: url('../static/fonts/Satoshi/Satoshi-Medium.ttf'); }
@font-face { font-family: SatoshiRegular; src: url('../static/fonts/Satoshi/Satoshi-Regular.ttf'); }


/*-----Color constants-----------
    background-color: Primary color for background
    text-color: Color for the default text
    primary-color: Primary color for Logos and branding
    secondary-color: Variant of the primary color (used for hover effects etc)
    primary-accent-color: Color for elements that should stand out

The :root classes are themes, uncomment to activate. (note: only one :root should be uncommented at once)
--------------------------------


#### THEME 1: ECO-GREEN ####

:root {
    --background-color: #FEFAE0;
    --text-color: #2c3423c7;
    --primary-color: #283618;
    --secondary-color: #606C38;
    --primary-accent-color: #BC6C25;
}

#### THEME 2: ICE-BLUE
/*
*/
:root {
    --background-color: #F4FAFF;
    --text-color: #535657;
    --primary-color: #4F646F;
    --secondary-color: #526d7b;
    --primary-accent-color: #B7ADCF;
}
/*
#### THEME 3: DARK-PURPLE

:root {
    --background-color: #170F11;
    --text-color: #e2fcef74;
    --primary-color: #9B287B;
    --secondary-color: #691c5a;
    --primary-accent-color: #ad28a0;
}

#### THEME 4: DARK-AQUAMARINE

:root {
    --background-color: #444545;
    --text-color: #C9C9C9;
    --primary-color: #B5FFE9;
    --secondary-color: #C5E0D8;
    --primary-accent-color: #CEABB1;
}

#### THEME 5: BAMBOO-FORREST

:root {
    --background-color: #605B56;
    --text-color: #F2FBE0;
    --primary-color: #ACC18A;
    --secondary-color: #837A75;
    --primary-accent-color: #DAFEB7;
}

#### THEME 6: SILVER-ROSE ####

:root {
    --background-color: #DBDBDB;
    --text-color: #706F6F;
    --primary-color: #FF299C;
    --secondary-color: #B0B5B3;
    --primary-accent-color: #EF27A6;
}

#### THEME 7: DOG-SHIT (Dont use this pls) ####

:root {
    --background-color: #ff2626;
    --text-color: #6e6e6e;
    --primary-color: #37ff00;
    --secondary-color: #008c54;
    --primary-accent-color: #ffc400;
}

*/

body {
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;

    overflow-x: hidden;
    max-width: 100vw;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}

/* Mobile */

@media only screen and (max-width: 700px) {
    .header #logo {
        display: none;
    }

    .headerlogin {
        min-width: 30vw;
    }

    .mid {
        margin: 0 20px 0 20px !important;
    }

    .midtext p {
        display: none !important;
    }

    .midtext {
        text-align: center;
        margin-bottom: 20px;
    }

    .mainmidinner {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
    }
  }


/* -------- HEADER -------- */

.header {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px;
    
}

.header #logo {
    color: var(--primary-color);
    font-family: SatoshiMedium;
    font-size: 42px;
}

.headermain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    color: var(--secondary-color);
    font-family: PoppinsRegular;
    font-size: 18px;
}

.headerchild :hover {
	color: var(--primary-color);
    font-family: PoppinsMedium;
    transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.headerlogin {
    display: flex;
    flex-direction: row;
    width: 15vw;
    align-items: center;
    justify-content: space-between;
}

.headerloginchild {
    color: var(--secondary-color);
    font-family: PoppinsMedium;
    font-size: 16px;
}



/* -------- BODY --------- */
.midmid {
    height: 80vh;
}

.mid {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 40%;
    position: relative;
    top: 40%;
    transform: translateY(-53%);

    
}


.midtext h1 {
    color: var(--primary-color);
    font-family: SatoshiMedium;
    font-size: 42px;
    padding-bottom: 1%;
}

.midtext p {
    font-family: PoppinsRegular;
    max-width: 90%;
    font-size: 18px;
    color: var(--text-color);
    padding-bottom: 5%;
}

.mainmidinner {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: start;
}

.mainbtn {
    padding:13px;
    background-color: var(--primary-accent-color);
    border: 2px solid var(--primary-accent-color);
    border-radius: 4px;

    color: var(--background-color);
    font-family: SatoshiRegular;
    font-size: 18px;
}

.mainbtn:hover {
    background-color: var(--background-color);
    color: var(--primary-accent-color);
    transition: all 130ms ease-in-out;
}

.downloadbutton, .uploadbutton, .uploadfile:hover, .uploadfile {
    padding:13px;
    background-color: var(--primary-accent-color);
    border: 2px solid var(--primary-accent-color);
    border-radius: 4px;

    color: var(--background-color);
    font-family: SatoshiRegular;
    font-size: 18px;
}

.downloadbutton:hover, .uploadbutton:hover, .uploadfile {
    background-color: var(--background-color);
    color: var(--primary-accent-color);
    transition: all 130ms ease-in-out;
}

.download, .upload {
    padding: 10px;

    font-size: 17px;
    font-family: PoppinsRegular;

    background-color: var(--primary-accent-color);
    color: var(--text-color);

    border: 2px solid var(--primary-accent-color);
    border-radius: 5px;
    box-shadow: var(--primary-color);
}



.downloadform, .uploadform {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 30px;
    padding: 20px;
}

#fileinput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* Success-Page */

.success-wrapper {
    border: 2px solid var(--primary-accent-color);
    border-radius: 5px;
    box-shadow: var(--primary-color);
    
    padding: 20px;

    font-size: 17px;
    font-family: PoppinsRegular;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.success-key-wrapper p {
    color: var(--primary-accent-color);
}

.success-copy-wrapper {
    font-size: 17px;
    font-family: PoppinsRegular;
    
    display: flex;
    align-items: center;
    gap: 10px;

    border: 2px solid var(--primary-accent-color);
    border-radius: 5px;
    box-shadow: var(--primary-color);

    width: max-content;
    padding: 5px;

    cursor: pointer;

    background-color: var(--primary-accent-color);

    transition: all 130ms ease-in-out;
}

.success-copy-wrapper:hover {
    background-color: white;
    color: var(--primary-accent-color);
}

/* Login-Page */

.login-input, .logon-input, .signup-input, .downloadnonym{
    padding: 10px;

    font-size: 17px;
    font-family: PoppinsRegular;

    background-color: var(--background-color);
    color: white;

    border: 2px solid var(--primary-accent-color);
    border-radius: 5px;
    box-shadow: var(--primary-color);

    background-color: var(--primary-accent-color);

    
}


::placeholder {
    color: white;
}

.login-submit, .signup-submit, .downloadnonymsubmit {
    box-sizing: content-box;

    border: 2px solid var(--primary-accent-color);
    background-color: var(--primary-accent-color);
    color: var(--background-color);

    cursor: pointer;
}

.logon-child-wrapper {
    max-width: 540px;
    display: flex;
    justify-content: center;
}

#signup-alternative {
    font-family: PoppinsRegular;
    font-size: 12px;
}

#signup-alternative-anchor {
    cursor: pointer; 
    text-decoration: underline;
}

/* Files */

/* NEW FILES CSS */

.files-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    padding: 15px;

    border: 2px solid var(--primary-accent-color);
    border-radius: 5px;
    box-shadow: var(--primary-color);

}

.files-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.files-text{
    font-family: PoppinsRegular;
    color: var(--primary-color);
}

.files-wrapper h1 {
    font-family: PoppinsMedium;
    color: var(--secondary-color);
}

.user-file-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
} 

.user-file-delete-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.file-remove-wrapper {
    display: flex; 
    align-items: center;

    cursor: pointer;
}

.user-file-key-wrapper {
    min-width: 26vw;
    display: flex;
    justify-content: right;
}

.file-remove-wrapper-child {
    display: flex;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;
    cursor: pointer;
}

.file-remove-wrapper-child:hover {
    color: red; 
    transition: all 0.2s ease-in-out;

  
}